{~include file="header.tpl"~}
<script>
	$(function(){
		$("#setting_navi").addClass("active");
	});
</script>
<link rel="stylesheet" type="text/css" href="/css/dashboard.css"/>
	<h1 class="page-title">
		<i class="icon-user"></i>
		<span style="cursor:pointer;" onclick="window.location.href='/system/setting'">系统设定</span>
	</h1>
	{~include file = "../admin/new.tpl"~}
	
{~include file="footer.tpl"~}