@CHARSET "UTF-8";
*{margin:0;padding:0;}
		img{border:none;}ul,li,ol,dl{list-style:none;}
		html,body{
			margin: 0;
			background:#F2F2F2;
			font-size:12px;
			height:100%;
/* 			text-shadow: 0 1px 0 #D1D1D1; */
			font: 12px, "微软雅黑",Verdana,Tahoma,Lucida Grande,Arial,sans-serif;
		}
		a{
			cursor: pointer;
		}
		*html{background-image:url(about:blank);background-attachment:fixed;} 
		a.black:link,a.black:visited,a.black:hover,a.black{
			color:#000000;
 			text-decoration:none; 
		}
		a.blue:link,a.blue:visited,a.blue{
			color: #0073EA;
 			text-decoration:none; 
		}
		a.blue:hover{
			color:#FFFFFF;
 			text-decoration:none;
		}
		a.white:link,a.white:visited,a.white:hover,a.white{
			color:#ffffff;
 			text-decoration:none; 
		}
		a.none:link,a.none:visited,a.none:hover,a.none{
 			text-decoration:none; 
		}
		a:link,a:visited,a:hover,a{
			text-decoration:none; 
		}
		ul, ol {
		    list-style: none outside none;
		}
		li.black:visited,li.black:hover,li.black{
			color:#ffffff;
 			text-decoration:none; 
		}
.dialog_p{
    font-size: 14px;
    line-height: 26px;
    padding: 5px 0;
    text-indent: 2em;
}
.pagenavi{
	text-align: left;
	margin-right:10px;
	margin-bottom:10px;
	float:right;
	font-size: 12px;
}
.yema{
	float:left;
	position:relative;
	cursor: pointer;

	margin-left:5px;
	min-width:15px;
	text-align: center;
}
.currentyema{
	text-align: center;
	float:left;
	position:relative;
	cursor: pointer;
	background-color:#0196E3;
	margin-left:5px;
	min-width:15px;
}
.pageInfo{
	float:left;
}

.page{
    height: 100%;
    min-width: 990px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.filedset{
	border:none;
}
.btn-radio .ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: -0.6em;
}

.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: -0.6em;
}


.display_off{
	display:none;
}
.clear {
    clear: both;
}
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; }
h1 { font-size: 1.2em; margin: .6em 0; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.text:focus{
	border-color:#aaaaaa;
	box-shadow:2px 2px 2px rgba(0,0,0,0.1);
}