			</div>
		</div>
	</div>
</div>


<div id="footer">
	
	<div class="container">				
		<hr />
		<p>&copy; 2013. 云南交通职业技术学院 版权所有</p>
	</div> <!-- /container -->
	
</div> <!-- /footer -->

<!--<script src="/scripts/jquery-ui-1.10.1.custom.min.js"></script>-->
<script src="/scripts/toastr.min.js"></script>
<script src="/scripts/framework/bootstrap.js"></script>
</body>
</html>
