<!DOCTYPE p PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8;">
		
	</head>
	<script language="JavaScript" type="text/javascript" src="/scripts/jquery-1.8.2.min.js"></script>
	<script language="JavaScript" type="text/javascript">
		
		function onclickhandler(){
			var user={
								username:$('#username').val(),
								password:$('#password').val(),
								nickname:$('#nickname').val(),
								identify_number:$('#identify').val()
							};
			  $.post("/user/info",user,function(result){
			    $("#result").html(result);
			  });
		}
	</script>
	<body>
		<div>
			注册啊~<br>
			用户名呢：<input type="text" id="username"/><br>
			密码呢：<input type="password" id="password"/><br>
			确认密码呢：<input type="password" id="password2"/><br>
			姓名：<input type="text" id="nickname"><br>
			身份证号：<input type=“text” id="identify"/><br>
			
			<input type="submit" onclick="onclickhandler()"/><br>
		</div>
		<div id="result"></div>
		<div>
			
		</div>
	</body>
</html>