{~$c=0~}
{~foreach $statistics as $item~}
	<tr>
		<td>{~$item['name']~}</td>
		<td>{~$item['sum_count']~} <span class="pull-right">公斤</span></td>	
		<td>{~$item['sum_price']~} <span class="pull-right">元</span></td>
	</tr>
	{~$c=$c+$item['sum_price']~}
{~/foreach~}
<tr>
	<td></td>
	<td></td>
	<td>总计：{~$c~} 元</td>
</tr>